*{margin:0;padding:;:0;}
.logo{height:90px;width:90px;border-radius:50%;}
nav{background-color:#080830;;width:100%;height:auto;}
body{box-sizing:border-box;}
nav{display:flex;flex-direction:colum;}
h1{font-size:30px;}
