
header {
    background-color:rgb(1, 1, 24);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:;
    position:fixed;
}
button:hover{background-color:yellow;}

h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
.logo{height: 90px;width: 90px;border-radius: 50%;}
.dd{display: block;position: relative;}
.dd-content{display: none;position: absolute;}
.dd:hover > .dd-content{display:flex;flex-direction: column;}

@media screen and (max-width:968px){
ul{display: none;}
.dd{display:block;}	
}
@media screen and (min-width:969px) {
.dd{display: none;}

}
.dd-content{background-color: blue;height:auto;right:20px;box-shadow: -10px -5px 5px;}

