html,body{box-sizing: border-box;margin: 0;padding: 0;}
h1{font-size: 24px;}
.page{display: grid;grid-gap: 20px;width: 100%;}
.page{grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
grid-template-areas: 
"nav nav nav"
"hero hero hero"
"update update update"
"section1 section2 section3"
"section4 section5 section5"
"section6 section7 section8"
"section9 section9 section10"
"loca loca loca"
"more more more"
"footer footer footer";

}
nav{grid-area: nav;}
.hero{grid-area:hero ;}
.update{grid-area:update ;}
.section1{grid-area: section1;}
.section2{grid-area:section2 ;}
.section3{grid-area:section3 ;}
.section4{grid-area: section4;}
.section5{grid-area: section5;}
.section6{grid-area:section6 ;}
.section7{grid-area: section7;}
.section8{grid-area:section8 ;}
.section9{grid-area: section9;}
.section10{grid-area: section10;}
.location{grid-area:loca ;}
.more{grid-area:more ;}
footer{grid-area: footer;}
nav,.hero,.update,.section1,.section2,.section3,.section4,.section5,.section6,.section7,.section8,.section9,.section10,.location,.more,footer{padding: 10px;box-shadow: 5px 10px 15px blue;background-color:white;border-radius: 10px;}
.hero{height: 520px;width: 100%;}

p{font-family: Georgia}
a>img{height: 70px;}
.more{display: flex;justify-content: space-between;align-items: center;padding-right: 30px;padding-left: 20px;flex-wrap: wrap;}
@media screen and (max-width:768px) {
    .hero{height: 380px;}
    a >img{height: 50px;font-size: 10px;}
}
.more>button:hover{border: 5px solid blue;}
img{width: 100%;}
.hero{display: flex;align-items: center;background-image: url(school1.jpg);background-repeat: no-repeat;text-shadow: 2px 3px white;background-size: cover;}
@media screen and (max-width:768px) {
    .page{grid-column: 1fr; grid-template-areas: 
        "nav"
        "hero"
        "update"
        "section1"
        "section2"
        "section3"
        "section4"
        "section5"
        "section6"
        "section7"
        "section8"
        "section10"
        "section9"
        "loca"
        "more"
        "footer";
    
}
@media screen and (max-width:768px) {
    .hero{font-size: 18px;}
    
}}
.hero{animation: background 30s   infinite  ;}
@keyframes background {
    0%{background-image: url(school1.jpg);}

    20%{background-image: url(st.jpg);}
    50%{background-image: url(honourable.jpg);}
    70%{background-image: url(form2.JPG);}
    85%{background-image: url(ches.JPG);}
    100%{background-image: url(students.JPG);}
    
    
}
